.contenedor_formulario {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2rem;
    color: #000;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  

  .contenedor_formulario .titulo_ingresar {
    text-align: center;
    margin-bottom: 2rem;
  }
  

  .contenedor_formulario form input[type="text"],
  .contenedor_formulario form input[type="email"],
  .contenedor_formulario form input[type="password"] {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 0.7rem 1rem;
    color: #000;
    font-size: 16px;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
  

  .contenedor_formulario form input[type="text"],
  .contenedor_formulario form input[type="email"],
  .contenedor_formulario form input[type="password"] {
    display: inline-block;
    margin-right: 1rem;
  }
  

  .contenedor_formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  

  .contenedor_formulario form input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    width: 300px;
    cursor: pointer;
    font-size: 16px; 
    margin: 1rem auto 0 auto;
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .contenedor_formulario form input[type="submit"]:hover {
    background-color: #222;
  }
  
 
  .contenedor_formulario form label {
    color: #000;
    display: block;
    margin-bottom: 0.5rem;
  }