{% extends "laBiblioteca/base.html" %}
{% load static %}

{% block title %} Actualizar | La biblioteca {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'laBiblioteca/style/actualizar_libro.css' %}">
{% endblock %}

{% block main %}
    

    <div class="container py-4 bg-white mx-w">
        <h1 class="fw-bold mb-4 text-primary text-center">Actualizar Libro</h1>
        <form class="container-fluid pb-2 form"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="exampleFormControlInput1" class="form-label"><h3>Titulo</h3></label>
            <div class="d-flex flex-column mb-2" >{{ form.titulo }}</div>
            <label for="exampleFormControlInput1" class="form-label"><h3>Autor</h3></label>
            <div class="d-flex flex-column mb-2">{{ form.autor }}</div>
            <label for="exampleFormControlInput1" class="form-label"><h3>Precio</h3></label>
            <div class="d-flex flex-column mb-2">{{ form.precio }}</div>
            <label for="exampleFormControlInput1" class="form-label"><h3>Isbn</h3></label>
            <div class="d-flex flex-column mb-2">{{ form.isbn }}</div>
            <label for="exampleFormControlInput1" class="form-label"><h3>Portada</h3></label>
            <div class="d-flex flex-column mb-2">{{ form.portada }}</div>
            <label for="exampleFormControlInput1" class="form-label"><h3>Stock</h3></label>
            <div class="d-flex flex-colum mb-2">{{ form.stock }}</div>
            <div style="text-align: center; align-items: center;">
                <button type="submit" class="btn btn-warning">Actualizar</button>
                <a href="{% url 'libros' %}" class="btn btn-info">Cancelar</a>
            </div>
        </form>        
    <div>


    
{% endblock %}
