{% extends "laBiblioteca/base.html" %}
{% load static %}

{% block title %} Carrito | La biblioteca {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'laBiblioteca/style/carrito.css' %}">
{% endblock %}

{% block main %}
    <h1 class="fw-bold my-4 text-primary text-center">Detalle de compra</h1>
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% for libro in cart.cart.values %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card m-5">
                        <img src="{{ libro.portada }}" width="100" height="100" alt="Portada del libro">
                        <div class="card-body d-flex flex-column">
                            <ul class="mb-0 list-unstyled">
                                <h5 class="card-title">ISBN: {{ libro.isbn }}</h5>
                                <li>Título: <i>{{ libro.titulo }}</i></li>
                                <li>Autor: <i>{{ libro.autor }}</i></li>
                                <li>Precio: <i>{{ libro.precio }}</i></li>
                                <li>Stock: <i>{{ libro.stock }}</i></li>
                                <li class="mb-3">Cantidad: <i>{{ libro.cantidad }}</i></li>
                                <li class="mb-3">Total: <i>${{ libro.total|floatformat:2 }}</i></li>
                            </ul>
                            <a class="btn btn-primary" href="{% url 'agregar_al_carrito' libro.id %}">AGREGAR</a>
                            <a class="btn btn-danger" href="{% url 'quitar_del_carrito' libro.id %}">QUITAR</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="mb-0 text-center">No hay libros en el carrito.</p>
            {% endfor %}
        </div>
    </div>
    <h3 class="fw-bold my-4 text-center">Total de la compra: ${{ total_price|floatformat:2 }}</h3>
    <div class="mb-4 text-center">
        <button class="btn btn-primary" type="button" data-bs-target="#purchaseModal" data-bs-toggle="modal" {% if not cart.cart %} disabled {% endif %}>PAGAR CON TARJETA</button>
        <button class="btn btn-danger" type="button" data-bs-target="#confirmModal" data-bs-toggle="modal" {% if not cart.cart %} disabled {% endif %}>CANCELAR COMPRA</button>
    </div>

    <!-- Modal de cancelación de compra -->
    <div id="confirmModal" class="modal fade" aria-hidden="true" aria-labelledby="confirmModalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-black text-white">
                <div class="modal-header border-0">
                    <h5 id="confirmModalLabel" class="modal-title">Confirmar cancelación</h5>
                    <button class="btn-close btn-close-white" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cancelar la compra?
                </div>
                <div class="modal-footer border-0">
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">No, volver</button>
                    <a href="{% url 'clear_cart' %}" class="btn btn-danger">Sí, cancelar compra</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmación de compra -->
    <div id="purchaseModal" class="modal fade" aria-hidden="true" aria-labelledby="purchaseModalLabel" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-black text-white">
                <div class="modal-header border-0">
                    <h5 id="purchaseModalLabel" class="modal-title">¡Gracias por tu compra!</h5>
                    <button class="btn-close btn-close-white" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Tu compra ha sido procesada exitosamente.
                </div>
                <div class="modal-footer border-0">
                    <a href="{% url 'venta' %}" class="btn btn-primary">Finalizar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
