{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %} Catálogo | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/catalogo.css' %}">
{% endblock %}

{% block main %}
<div class="contenedor_panel">
    <h2 class="titulo_catalogo">Libros disponibles:</h2>
    <ul>
        <li><a href="{% url 'catalogo' %}">Libro 1</a><a href="{% url 'catalogo' %}">Reservar</a></li>
        <li><a href="{% url 'catalogo' %}">Libro 2</a><a href="{% url 'catalogo' %}">Reservar</a></li>
        <li><a href="{% url 'catalogo' %}">Libro 3</a><a href="{% url 'catalogo' %}">Reservar</a></li>
    </ul>  
</div>

{% endblock %}