{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %} Ingreso | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/ingresar.css' %}">
{% endblock %}

{% block main %}
    <div class="contenedor_formulario">
    <h1 class="titulo_ingresar">Ingreso de usuarios</h1>

    <form class="ingresar" action="{% url 'ingresar' %}" method="post">
        {% csrf_token %}
        {{ ingreso_lector_form.as_p }}
        <input type="submit" value="Ingresar">
        <input type="submit" value="Cancelar">
    </form>
    <div>
{% endblock %}