{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %}Ingreso | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/ingresar.css' %}">
{% endblock %}

{% block main %}
    <div class="container py-4 bg-white mx-w">
        <h1 class="fw-bold mb-4 text-primary text-center">Ingreso de usuario</h1>

        <form class="container-fluid pb-2 form" action="{% url 'ingresar' %}" method="post">
        {% csrf_token %}
        <div class="d-flex flex-column mb-2">
        {{ ingreso_lector_form.as_p }} 
        </div>
        <div class="d-flex flex-column mb-2">
        <input class="btn btn-primary mb-1 py-2 w-10" type
        ="submit" value="Ingresar">
        </div>
        <div class="mb-0 d-flex justify-content-center">
        <input class="btn btn-primary mb-1 py-2 w-10" type="submit" value="Cancelar">
        </div>
    </form>
    <div>
{% endblock %}
