{% extends "laBiblioteca/base.html" %}
{% load static %}

{% block title %} U-Panel | La biblioteca {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'laBiblioteca/style/registro.css' %}">
{% endblock %}

{% block main %}
    {% if user.is_staff %}
        <div class="card">
            <h2 class="card-header">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#797979" width="44" height="44">
                    <path d="M12 2.5a5.5 5.5 0 0 1 3.096 10.047 9.005 9.005 0 0 1 5.9 8.181.75.75 0 1 1-1.499.044 7.5 7.5 0 0 0-14.993 0 .75.75 0 0 1-1.5-.045 9.005 9.005 0 0 1 5.9-8.18A5.5 5.5 0 0 1 12 2.5ZM8 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0Z"></path>
                </svg>
                Usuario administrador
            </h2>
            <div class="card-body">
                <h3 class="card-title">{{ user.username }}</h3>
            </div>
        </div>
        <p style="font-size: 40px; align-items: center;text-align: center; border-bottom: 1px solid #999;">Libros</p>
        <div class="contenedor_panel">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                      <th scope="col">ISBN</th>
                      <th scope="col">LIBRO</th>
                      <th scope="col">AUTOR</th>
                      <th scope="col">PRECIO</th>
                      <th scope="col">STOCK</th>
                      <th scope="col">ACTUALIZAR</th>
                      <th scope="col">ELIMINAR</th>
                    </tr>
                </thead>
                {% for libro in libros %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ libro.isbn }}</th>
                            <td>{{ libro.titulo }}</td>
                            <td>{{ libro.autor }}</td>
                            <td>{{ libro.precio }}</td>
                            <td>{{ libro.stock }}</td>
                            <td>
                                <a href="{% url 'actualizar_libro' libro.pk %}" style="padding: 0 0 0 30px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="yellow">
                                        <path d="M17.263 2.177a1.75 1.75 0 0 1 2.474 0l2.586 2.586a1.75 1.75 0 0 1 0 2.474L19.53 10.03l-.012.013L8.69 20.378a1.753 1.753 0 0 1-.699.409l-5.523 1.68a.748.748 0 0 1-.747-.188.748.748 0 0 1-.188-.747l1.673-5.5a1.75 1.75 0 0 1 .466-.756L14.476 4.963ZM4.708 16.361a.26.26 0 0 0-.067.108l-1.264 4.154 4.177-1.271a.253.253 0 0 0 .1-.059l10.273-9.806-2.94-2.939-10.279 9.813ZM19 8.44l2.263-2.262a.25.25 0 0 0 0-.354l-2.586-2.586a.25.25 0 0 0-.354 0L16.061 5.5Z"></path>
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminar_libro' libro.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="red">
                                        <path d="M16 1.75V3h5.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75Zm-6.5 0V3h5V1.75a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25ZM4.997 6.178a.75.75 0 1 0-1.493.144L4.916 20.92a1.75 1.75 0 0 0 1.742 1.58h10.684a1.75 1.75 0 0 0 1.742-1.581l1.413-14.597a.75.75 0 0 0-1.494-.144l-1.412 14.596a.25.25 0 0 1-.249.226H6.658a.25.25 0 0 1-.249-.226L4.997 6.178Z"></path>
                                        <path d="M9.206 7.501a.75.75 0 0 1 .793.705l.5 8.5A.75.75 0 1 1 9 16.794l-.5-8.5a.75.75 0 0 1 .705-.793Zm6.293.793A.75.75 0 1 0 14 8.206l-.5 8.5a.75.75 0 0 0 1.498.088l.5-8.5Z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="align-items: center;text-align: center;">
                    <h5 class="card-title">Crear un nuevo título</h5>
                    <a href="{% url 'crear_libro'%}"  class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path d="M0 3.75A.75.75 0 0 1 .75 3h7.497c1.566 0 2.945.8 3.751 2.014A4.495 4.495 0 0 1 15.75 3h7.5a.75.75 0 0 1 .75.75v15.063a.752.752 0 0 1-.755.75l-7.682-.052a3 3 0 0 0-2.142.878l-.89.891a.75.75 0 0 1-1.061 0l-.902-.901a2.996 2.996 0 0 0-2.121-.879H.75a.75.75 0 0 1-.75-.75Zm12.75 15.232a4.503 4.503 0 0 1 2.823-.971l6.927.047V4.5h-6.75a3 3 0 0 0-3 3ZM11.247 7.497a3 3 0 0 0-3-2.997H1.5V18h6.947c1.018 0 2.006.346 2.803.98Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <p style="font-size: 40px; align-items: center;text-align: center;border-bottom: 1px solid #999;">Noticias</p>
            <ul class="list-group">
                {% for usuario in usuarios %}
                    <li class="list-group-item active" aria-current="true"><h5>Nuestros visitantes</h5></li>
                    <li class="list-group-item">
                        <strong>Usuario:</strong> {{ usuario.username }} - <strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }} - <strong>Email:</strong> {{ usuario.email }}
                    </li>
                {% empty %}
                    <p>No hay usuarios registrados.</p>
                {% endfor %}
            </ul>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true"><h5>Mensajes:</h5></li>
                {% for mensaje in mensajes %}
                    <li class="list-group-item active" aria-current="true"></li>
                    <li class="list-group-item"><i>Nombre: </i> {{ mensaje.nombre }}</li>
                    <li class="list-group-item"><i>Email: </i>{{ mensaje.email }}</li>
                    <li class="list-group-item"><i>Mensaje: </i>{{ mensaje.mensaje }}</li>
                {% empty %}
                    <p>No hay mensajes.</p>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
