{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %} U-Panel | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/registro.css' %}">
{% endblock %}

{% block main %}
<div class="contenedor_panel">
    <h2 class="titulo_registro">Bienvenido: {{ nombre }}</h2>
    <ul>
        <li><a href="{% url 'panel_usuario' %}">Mis datos</a></li>
        <li><a href="{% url 'index' %}">Cerrar cesión</a></li>
        <li></li>
    </ul>  
</div>

<div class="contenedor_libros">
    <h3 class="titulo_mis_libros">Mis Libros: {{ nombre }}</h3>
    <ul>
        <li><a>Libro 1</a></li>
        <li><a>Libro 2</a></li>
        <li></li>
    </ul>

    
</div>
{% endblock %}