{% extends "laBiblioteca/base.html" %}
{% load static %}

{% block title %} Perfil | La biblioteca {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'laBiblioteca/styles/perfil.css' %}">
{% endblock %}

{% block main %}
    <div class="container my-4 mx-w">
        <h1 class="container-fluid mb-4">PERFIL</h1>
        <form class="container-fluid" action="{% url 'perfil' %}" method="post">
            {% csrf_token %}
            <div class="d-flex flex-column mb-2">
                {{ perfil_form.nombre.label_tag }}
                {{ perfil_form.nombre }}
                {{ perfil_form.nombre.errors }}
            </div>
            <div class="d-flex flex-column mb-2">
                {{ perfil_form.apellido.label_tag }}
                {{ perfil_form.apellido }}
                {{ perfil_form.apellido.errors }}
            </div>
            <div class="d-flex flex-column mb-2">
                {{ perfil_form.email.label_tag }}
                {{ perfil_form.email }}
                {{ perfil_form.email.errors }}
            </div>
            <div class="d-flex flex-column mb-2">
                {{ perfil_form.contrasenia.label_tag }}
                {{ perfil_form.contrasenia }}
                {{ perfil_form.contrasenia.errors }}
                <span class="helptext">{{ perfil_form.contrasenia.help_text }}</span>
            </div>
            <div class="d-flex flex-column mb-4">
                {{ perfil_form.descripcion.label_tag }}
                {{ perfil_form.descripcion }}
                {{ perfil_form.descripcion.errors }}
            </div>
            <div class="d-flex justify-content-end">
                <input class="" type="submit" value="ENVIAR">
            </div>
        </form>
    </div>
{% endblock %}
