{% extends "laBiblioteca/base.html" %}
{% load static %}

{% block title %} Perfil | La biblioteca {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'laBiblioteca/style/perfil.css' %}">
{% endblock %}

{% block main %}
    <div class="container py-4 bg-white mx-w">
        <h1 class="fw-bold mb-4 text-primary text-center">Perfil</h1>
        <div class="container m-auto">
            {% if not user.is_staff %}
                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="card-title">{{ user }}</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">NOMBRE: {{ user.first_name }}</h5>
                        <h5 class="card-title">APELLIDO: {{ user.last_name }}</h5>
                        <h5 class="card-title">EMAIL: {{ user.email }}</h5>
                        <p class="card-text"> TE DAMOS LA BIENVENIDA {{ user }} </p>
                        <a href="{% url 'catalogo' %}" class="btn btn-dark">Catálogo</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn btn-info">Cerrar sesión</a>
                        {% endif %}
                    </div>
                    <div class="card-footer text-body-secondary">2 days ago</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
