{% extends "laBiblioteca/base.html" %}
{% load static %}
{% block title %}Registro | La biblioteca {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'laBiblioteca/style/registro.css' %}">
{% endblock %}

{% block main %}
    <h1>Registro de usuarios</h1>

    <form action="{% url 'registro' %}" method="post">
        {% csrf_token %}
        {{ alta_lector_form.as_p }}
        <input type="submit" value="Registrarse">
        <input type="submit" value="Cancelar">
    </form>
{% endblock %}